<div class="alert alert-block alert-info">
<b>Notebook Description:</b> Este Notebook tem o objetivo de montar o arquivo para submissão nos modelos preditivos
</div>

***
<font size="6"><a id="sumario"><bold>SUMÁRIO</bold></a></font>
***
>1. [01 - Pacotes Necessário](#pacotes)
>2. [02 - Carga de Dados](#carga-dados)
>3. [03 - Funções](#funcoes)
>4. [04 - Calcular Distancia entre Cidades e Estados](#distancias)
>5. [05 - Label Encode e Normalização](#encoding)
>6. [06 - Dummy](#dummies)
>7. [07 - Telefones Fraudulentos](#tel-fraude)
>8. [08 - Remover Colunas](#remove)
>9. [09 - Executar Modelo Perceptron](#perceprton)
>>9.1. [09.1 - Carregar Modelo Treinado](#perceprton_1)<br>
>>9.2. [09.2 - Gerar Previsões](#perceprton_2)
>10. [10 - Executar Modelo Keras Sequential](#sequential)
>>10.1. [10.1 - Carregar Modelo treinado](#keras_1)<br>
>>10.2. [10.2 - Gerar Previsões](#keras_2)

***
<font size="6"><a id="pacotes">01 - Pacotes Necessários</a></font>
***
[VOLTAR](#sumario)

<div class="alert alert-block alert-success">
<b>Section Description: </b> Esta seção tem como objetivo instalar e carregar todos os pacotes necessários para recuperar e predizer as informações das propostas digitadas.
</div>

In [1]:
import pandas as pd
import numpy as np
import types
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from math import sin, cos, sqrt, atan2, radians
import psutil
import gc
import pickle
from keras.models import Sequential
from keras.layers import Dense
from keras.models import model_from_json
import os
import io
from sklearn.preprocessing import MinMaxScaler

%matplotlib inline

Using TensorFlow backend.

***
<font size="6"><a id="carga-dados">02 - Carga de Dados</a></font>
***
[VOLTAR](#sumario)

<div class="alert alert-block alert-success">
<b>Section Description: </b> Esta seção tem como objetivo carregar os dados brutos de propostas para gerar o arquivo de treinamento.
</div>

In [2]:
arquivo = 'C:/Users/bsi90720/Desktop/Modelo de Proprensão Refin Port - Preparação/REFIN/base_ativa_para_passar_modelo_refin_27_12_2019.csv'
df_data = pd.read_csv(arquivo)
df_data.head()

,NRO_CONTRATO,CNPJ_CPF,STATUS,TAXA,QUANT_PRESTACAO,VALOR_FINANCIADO,VALOR_PRESTACAO,DURACAO_CONTRATO,CANAL,GRPCONV,FLAG_SE_EH_REFIN
0,110856558,99999781772,A,2.340009,72,812.01,24.19,1327,CORRESPONDENTE,A-INSS,0
1,110117461,99997886534,A,2.339834,72,2061.88,61.28,1348,CORRESPONDENTE,A-INSS,0
2,137243662,99996251349,A,1.903200,72,5901.85,154.46,665,CORRESPONDENTE,A-INSS,1
3,151877851,99995743787,A,1.881476,58,5280.74,153.38,0,CORRESPONDENTE,A-INSS,0
4,164135662,99995484749,A,1.269700,72,11319.32,245.43,228,CORRESPONDENTE,A-INSS,1


***
<font size="6"><a id="info">03 - Tratamento dos Dados</a></font>
***

***
<font size="4"><a id="info">    03.1 - codificação one-hot</a></font>
***

<div class="alert alert-block alert-success">
<b>Descrição: Realização do Dummie  </b> </b>
</div>

In [3]:
arOneHotEncoding = ['STATUS','CANAL','GRPCONV']
dfArquivoTreinamento = pd.get_dummies(df_data,columns=arOneHotEncoding)
dfArquivoTreinamento.head()

,NRO_CONTRATO,CNPJ_CPF,TAXA,QUANT_PRESTACAO,VALOR_FINANCIADO,VALOR_PRESTACAO,DURACAO_CONTRATO,FLAG_SE_EH_REFIN,STATUS_A,CANAL_BPV,CANAL_CORRESPONDENTE,CANAL_INTERNET,CANAL_OUTROS,GRPCONV_A-INSS,GRPCONV_B-SIAPE,GRPCONV_C-EST MT,GRPCONV_D-EST SC,GRPCONV_E-OUTROS
0,110856558,99999781772,2.340009,72,812.01,24.19,1327,0,1,0,1,0,0,1,0,0,0,0
1,110117461,99997886534,2.339834,72,2061.88,61.28,1348,0,1,0,1,0,0,1,0,0,0,0
2,137243662,99996251349,1.903200,72,5901.85,154.46,665,1,1,0,1,0,0,1,0,0,0,0
3,151877851,99995743787,1.881476,58,5280.74,153.38,0,0,1,0,1,0,0,1,0,0,0,0
4,164135662,99995484749,1.269700,72,11319.32,245.43,228,1,1,0,1,0,0,1,0,0,0,0

***
<font size="6"><a id="info">03.2 - Normalização</a></font>
***

<div class="alert alert-block alert-success">
<b>Descrição: </b> </b>
</div>

In [4]:
arNormalize = ['TAXA','QUANT_PRESTACAO','VALOR_FINANCIADO','VALOR_PRESTACAO','DURACAO_CONTRATO']
scaler = MinMaxScaler(feature_range=(0,1))

for eachCategory in arNormalize:
    dfArquivoTreinamento[eachCategory] = scaler.fit_transform(dfArquivoTreinamento[eachCategory].values.reshape(-1, 1))

In [5]:
dfArquivoTreinamento.head()

,NRO_CONTRATO,CNPJ_CPF,TAXA,QUANT_PRESTACAO,VALOR_FINANCIADO,VALOR_PRESTACAO,DURACAO_CONTRATO,FLAG_SE_EH_REFIN,STATUS_A,CANAL_BPV,CANAL_CORRESPONDENTE,CANAL_INTERNET,CANAL_OUTROS,GRPCONV_A-INSS,GRPCONV_B-SIAPE,GRPCONV_C-EST MT,GRPCONV_D-EST SC,GRPCONV_E-OUTROS
0,110856558,99999781772,0.647465,0.526718,0.002739,0.003650,0.316480,0,1,0,1,0,0,1,0,0,0,0
1,110117461,99997886534,0.647416,0.526718,0.009421,0.010863,0.321488,0,1,0,1,0,0,1,0,0,0,0
2,137243662,99996251349,0.526603,0.526718,0.029950,0.028984,0.158598,1,1,0,1,0,0,1,0,0,0,0
3,151877851,99995743787,0.520592,0.419847,0.026629,0.028774,0.000000,0,1,0,1,0,0,1,0,0,0,0
4,164135662,99995484749,0.351317,0.526718,0.058911,0.046675,0.054376,1,1,0,1,0,0,1,0,0,0,0

***
<font size="6"><a id="info">03.3 - Remover Colunas não necessárias</a></font>
***

<div class="alert alert-block alert-success">
<b>Descrição: </b> </b>
</div>

In [6]:
arColunsToRemove = ['NRO_CONTRATO','CNPJ_CPF']
dfArquivoTreinamento.drop(columns=arColunsToRemove, inplace=True,axis=1)

In [7]:
dfArquivoTreinamento.shape

(310361, 16)

In [8]:
arquivo = 'C:/Users/bsi90720/Desktop/Modelo de Proprensão Refin Port - Preparação/REFIN/colunas.csv'

dfcolunas = pd.read_csv(arquivo)
dffinal=pd.DataFrame()

In [9]:
dfcolunas['colunas'].values

array(['TAXA', 'QUANT_PRESTACAO', 'VALOR_FINANCIADO', 'VALOR_PRESTACAO',
       'DURACAO_CONTRATO', 'FLAG_SE_EH_REFIN', 'STATUS_A', 'STATUS_C',
       'STATUS_E', 'CANAL_BPV', 'CANAL_CORRESPONDENTE', 'CANAL_INTERNET',
       'CANAL_OUTROS', 'GRPCONV_A-INSS', 'GRPCONV_B-SIAPE',
       'GRPCONV_C-EST MT', 'GRPCONV_D-EST SC', 'GRPCONV_E-OUTROS'],
      dtype=object)

In [10]:
arZeros = np.zeros(dfArquivoTreinamento.shape[0])
for col in dfcolunas['colunas'].values:
    try:
        dffinal[col] = dfArquivoTreinamento[col]
    except:
        print('Coluna "{}" não encontrada. Preencher com zeros'.format(col))
        dffinal[col] = arZeros
dffinal.head()

Coluna "STATUS_C" não encontrada. Preencher com zeros
Coluna "STATUS_E" não encontrada. Preencher com zeros

,TAXA,QUANT_PRESTACAO,VALOR_FINANCIADO,VALOR_PRESTACAO,DURACAO_CONTRATO,FLAG_SE_EH_REFIN,STATUS_A,STATUS_C,STATUS_E,CANAL_BPV,CANAL_CORRESPONDENTE,CANAL_INTERNET,CANAL_OUTROS,GRPCONV_A-INSS,GRPCONV_B-SIAPE,GRPCONV_C-EST MT,GRPCONV_D-EST SC,GRPCONV_E-OUTROS
0,0.647465,0.526718,0.002739,0.003650,0.316480,0,1,0.0,0.0,0,1,0,0,1,0,0,0,0
1,0.647416,0.526718,0.009421,0.010863,0.321488,0,1,0.0,0.0,0,1,0,0,1,0,0,0,0
2,0.526603,0.526718,0.029950,0.028984,0.158598,1,1,0.0,0.0,0,1,0,0,1,0,0,0,0
3,0.520592,0.419847,0.026629,0.028774,0.000000,0,1,0.0,0.0,0,1,0,0,1,0,0,0,0
4,0.351317,0.526718,0.058911,0.046675,0.054376,1,1,0.0,0.0,0,1,0,0,1,0,0,0,0

In [11]:
dffinal.shape

(310361, 18)

***
<font size="6"><a id="sequential">10 - Executar Modelo Keras Sequential</a></font>
***
[VOLTAR](#sumario)

<div class="alert alert-block alert-success">
<b>Section Description: </b> Esta seção tem como objetivo prever a probabilidade da proposta ser fraude através do modelo keras sequential.
</div>

***
<font size="6"><a id="keras_1">10.1 - Carregar Modelo Treinado</a></font>
***
[VOLTAR](#sumario)

In [12]:
filenameH5 = 'C:/Users/bsi90720/Desktop/Modelo de Proprensão Refin Port - Preparação/REFIN/RefinPredictionModel-Keras.h5'
filenameJSON = 'C:/Users/bsi90720/Desktop/Modelo de Proprensão Refin Port - Preparação/REFIN/RefinPredictionModel-Keras.json'

json_file = io.open(filenameJSON, 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)

loaded_model.load_weights(filenameH5)
 
loaded_model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

***
<font size="6"><a id="keras_2">10.2 - Gerar Previsões</a></font>
***
[VOLTAR](#sumario)

In [13]:
ypredKeras = loaded_model.predict(dffinal.values)

In [14]:
yClassesKeras = loaded_model.predict_classes(dffinal.values)

In [15]:
dfPrevisoes = pd.DataFrame(data=ypredKeras.reshape(len(ypredKeras)),columns=['PrevisoesRL'])
dfClasses =  pd.DataFrame(data=yClassesKeras.reshape(len(yClassesKeras)),columns=['ClassesRL'])
print(dfPrevisoes.shape)
print(dfClasses.shape)

(310361, 1)
(310361, 1)

In [16]:
display(dfPrevisoes.head())
display(dfClasses.head())

   PrevisoesRL
0     0.030009
1     0.030201
2     0.029364
3     0.027533
4     0.026817

   ClassesRL
0          0
1          0
2          0
3          0
4          0

***
<font size="6"><a id="keras_2">11 - Gerar Saída de Previsão</a></font>
***
[VOLTAR](#sumario)

In [17]:
sNomeArquivo = 'C:/Users/bsi90720/Desktop/Modelo de Proprensão Refin Port - Preparação/REFIN/Resultado_propensos_refin.csv'

dfSaida = pd.concat([df_data[['NRO_CONTRATO','CNPJ_CPF']],dfClasses],axis=1)
dfSaida = pd.concat([dfSaida,dfPrevisoes],axis=1)

dfSaida.rename(columns={'NRO_CONTRATO': 'NUMCTT', 'CNPJ_CPF': 'NUMCPF', 'ClassesRL': 'FLAG_REFIN', 'PrevisoesRL': 'LP_FLAG_REFIN'}, inplace=True)

#dfSaida.to_csv(path_or_buf=sNomeArquivo,index=False,sep=",",decimal='.')

In [18]:
dfSaida.head(10000)

         NUMCTT       NUMCPF  FLAG_REFIN  LP_FLAG_REFIN
0     110856558  99999781772           0       0.030009
1     110117461  99997886534           0       0.030201
2     137243662  99996251349           0       0.029364
3     151877851  99995743787           0       0.027533
4     164135662  99995484749           0       0.026817
...         ...          ...         ...            ...
9995  141044555  94522626215           0       0.029539
9996  157279107  94521590306           0       0.001179
9997  159351581  94521590306           0       0.001172
9998  146491711  94521522491           0       0.029423
9999  154324888  94518670078           0       0.003080

[10000 rows x 4 columns]

In [19]:
dfSaida.sort_values(['FLAG_REFIN'], ascending=True).groupby(['FLAG_REFIN']).count()[['NUMCTT']]

            NUMCTT
FLAG_REFIN
0           310361

In [78]:
def reclassificar(LP_FLAG_REFIN):
  if LP_FLAG_REFIN < 0.02:
      return 1
  else:
       return 0

In [79]:
dfSaida['FLAG_REFIN'] = np.array([reclassificar(LP_FLAG_REFIN) for LP_FLAG_REFIN in dfSaida['LP_FLAG_REFIN']])

In [80]:
dfSaida.sort_values(['FLAG_REFIN'], ascending=True).groupby(['FLAG_REFIN']).count()[['NUMCTT']]

            NUMCTT
FLAG_REFIN
0           220505
1            89856

In [81]:
dfSaida.to_csv(path_or_buf=sNomeArquivo,index=False,sep=",",decimal='.')